.header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    transition: all .5s ease-in-out;

    &__name {
        max-width: 50%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: snow;
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.4rem;
        float: left;
        padding: 0 30px;
    }

    &__menu {

    }
}