.titleForArtikles {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(45,45,45,1) 18%, rgba(0,0,0,0));
    border-right: 10px solid black;
    border-left: 10px solid black;
    cursor: grab;

    &__container {
        position: relative;
        width: 94%;
        height: auto;
        color: white;
        text-align: center;
        margin: 0 auto;
        top: 100%;
        transform: translateY(-107%);

        @media (orientation: landscape) { 
            width: 60%;
        }

        &__pretitle {
            text-transform: uppercase;
            font-weight: 800;
            font-family: 'Noto Sans', sans-serif;
            font-size: .85rem;
            transition: all .8s;
        }
    
        &__title {
            text-transform: uppercase;
            font-family: 'Cormorant SC', serif;
            font-size: 2.4rem;
            letter-spacing: 3px;
            transition: all .8s;

            @media (min-width: 700px){
                font-size: 6rem;
            }
        }
    
        &__posttitle {
            font-family: 'Noto Sans', sans-serif;
            font-size: .75rem;
            transition: all .8s;

            @media (min-width: 700px){
                font-size: .85rem;
            }
        }
    
        &__btn {
            text-align: center;
            padding: 12.5px;
            text-transform: uppercase;
            font-family: 'Noto Sans', sans-serif;
            font-size: .85rem;
            border: 1px solid rgba(255,255,255,.3);
            transition: all .8s;
            margin: 5px auto;
            width: 200px;

            @media (orientation: landscape) { 
                margin: 5px auto;
            }
    
            &:hover {
                cursor: pointer;
                border: 1px solid rgba(255,255,255,1);
            }
        }
    }
}