<% var data = {
  title: "Александр Бартов, разработчик"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="hiddenMenu">
  <div class="hiddenMenu__closeBtn">
    <div class="hiddenMenu__closeBtn__t"></div>
    <div class="hiddenMenu__closeBtn__b"></div>
  </div>
</div>

<div class="header">
  <div class="header__name"><span>Александр</span><span>Бартов</span></span></div>
  <div class="header__menu">
    <div class="header__menu__top"></div>
    <div class="header__menu__middle"></div>
    <div class="header__menu__bottom"></div>
  </div>
</div>

<div class="firstBlock">
</div>

<div class="secondBlock">
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>