<% var data = {
  title: "сайт священника Александра Бартова"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="frame">
  <div class="frame__header">
    <span class="frame__header__title">сайт священника</span>
    <span class="frame__header__about">о проекте</span>
  </div>
</div>
<div class="content">
  <div class="photo-for-menu">
    <img src="img/priest_b&w.jpg" alt="">
  </div>
  <div class="photo-for-menu photo-for-menu--2r">
    <img src="img/venchanie_b&w.jpg" alt="">
  </div>
  <div class="photo-for-menu photo-for-menu--3r">
    <img src="img/evharistia_b&w.jpg" alt="">
  </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>