@import "./modules/_container";
@import "./modules/_header";
@import "./modules/_group1";
@import "./modules/_firstLevel";
@import "./modules/_secondLevel";
@import "./modules/_worksBlock";
@import "./modules/_skillsBlock";
@import "./modules/_contactsBlock";
@import "./modules/_hiddenMenu";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: chocolate;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: snow;
}
