@import "./modules/_frame";
@import "./modules/_content";
@import "./modules/_photo-for-menu";
@import "./modules/_themes";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
