@import "./modules/_header";
@import "./modules/_footer";
@import "./modules/_content";
@import "./modules/_photo-for-menu";
@import "./modules/_titleForArtikles";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
